<!DOCTYPE html>
<html lang="en">

<head>
    <link href='https://fonts.googleapis.com/css?family=Roboto:500,300,700,400' rel='stylesheet' type='text/css'>
    <link href="src/css/main.css" rel="stylesheet" />
    <!-- Include the AngularJS library and bootstrap -->
    <link rel="stylesheet" href="src/lib/bootstrap/css/bootstrap.css" />
    <script src="src/lib/angular/angular.js"></script>
</head>

<!-- navbar menu -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Novinky.cz</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
      </div>
    </div>
  </nav>





<!-- Post title with paragraphs -->

<div ng-app = "myApp">
  <div class="container">
    <div class="row">
      <div ng-controller="MainController" class="col-lg-8">
        <h1 ng-controller="MainController" class = "postitle" >{{posttitle}}</h1>
          <p class="lead"></p>
          <hr>
          <p>{{posted}}</p>
        <h1  class="mt-4">{{title}}</h1>
     <div class="main" ng-controller="MainController">
        <div ng-repeat="paragraph in paragraphs" class="row">
          <p>{{paragraph.text1}}</p>
          <p>{{paragraph.text2}}</p>
    </div>
</div>


<!-- Comment seciton -->

  <img class="img-fluid rounded" src="https://media.novinky.cz/882/758823-top_foto1-1npal.jpg?1562880613/900x300" alt="">
    <div class="card my-4" ng-app="myApp" ng-controller="MainController">
       <h5 class="card-header">Zanechte komentář</h5>
        <div class="card-body">
          <form ng-submit="add()">
            <div class="form-group">
              <input ng-model='name' type = "text" class="form-control" placeholder="Jméno" ></input>
              <textarea ng-model='text' class="form-control" rows="3" placeholder="Přidat komentář"></textarea>
                  </div>
                <button ng-click='submit()'   type="submit" class="btn btn-primary" >Odeslat</button>
                    </div>
                    <div class="card my-4" >
                    <div class="border" ng-app="myApp" class="media-body"  ng-repeat='comment in comments'>
                      <h5>Jméno: {{comment.name}}</h5>
                  <div id = "comments">
                      <strong>Komentář: </strong>
                     {{comment.text}}
                  </div>
                        <p class="mt-5"><button class="btn btn-danger" ng-click='delete(comment)'>Odstranit</button></>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<footer class="py-5 bg-dark" >
</footer>

<!-- Modules -->
<script src="src/js/app.js"></script>

<!-- Controllers -->
<script src="src/js/controllers/MainController.js"></script>

</body>

</html>
